# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ignorar pastas de modelos locais
models/

# Ignorar ambiente virtual
.venv/
env/
venv/
docs/

# Ignorar ficheiros de sistema e logs
.DS_Store
__pycache__/
*.log

# NUNCA enviar ficheiros .env (se usar um localmente)
.env